<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="/stories" class="brand-logo center resp" style="font-family: 'Cedarville Cursive', cursive;">Lost Thoughts</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">All Posts</a></li>
            <li><a href="/login/dashboard">Dashboard</a></li>
            <li><a href="/stories/category/blogs">Blogs</a></li>
            <li><a href="/stories/category/poems">Poems</a></li>
            <li><a href="/stories/category/story">Stories</a></li>
            <li><a href="/stories/category/writeups">Write-Ups</a></li>
            <li><a href="/stories/shortlisted">Shortlisted Posts</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>