<nav class="grey darken-3">
  <div class="nav-wrapper container">

    <a
      href="/stories"
      class="brand-logo center resp"
      style="font-family: 'Cedarville Cursive', cursive;"
    >Lost Thoughts</a>
    <div class="fixed-action-btn">
      <a
        href="/login"
        class="btn-floating btn-large waves-effect waves-light red"
        style="width: 4rem;z-index: 999999"
      >Login</a>
    </div>

    <a
      href="#"
      data-target="mobile-demo"
      class="sidenav-trigger show-on-large"
    ><i class="fas fa-bars"></i></a>
    <ul class="sidenav" id="mobile-demo">
      <li style="color: #000; margin-left:30px">
        Categories
        <ul>
          <li><a href="/public/category/blogs">Blogs</a></li>
          <li><a href="/public/category/poems">Poems</a></li>
          <li><a href="/public/category/story">Stories</a></li>
          <li><a href="/public/category/writeups">Write-Ups</a></li>
        </ul>
      </li>

      <li><a href="/shortlisted">Shortlisted</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>