<h3 style="font-family: 'Cedarville Cursive', cursive;"><i class="fas fa-book-reader"></i> Lost Thoughts</h3>
<div class="section">
    <p class="lead">Create stories, poems, blogs and much more and showcase it to the World!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>