<div class="spinner-wrapper">
  <div class="spinner"></div>
</div>
<div class="row">
  {{#each users}}
    <div class="col s12 m4 single-user-card" style="height: 25rem;">
      <div
        class="card center-align"
        style="border-radius: 10px; background-color: #aacfd5ff;height: 22rem"
      >
        <div class="card-content">
          <span
            class="card-title single-username"
            style="font-weight: bold;color:#298a91ff;"
          >{{displayName}}</span>
          <img
            src="{{image}}"
            class="circle responsive-img img-small single-userimage"
            style="width: 155px;"
          />
        </div>
        <div class="chip resp-chip">
          <a href="/singleUser/user/{{_id}}" class="username">Stories by
            {{displayName}}</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>